<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yskrq.yjs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取WIFI信息状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取网络状态改变的权限 -->
    <!--    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />-->
    <!--    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />-->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--        android:name="com.yskrq.common.LoginActivity"-->
        <!--        android:name=".MainActivity"-->
        <activity
            android:name="com.yskrq.common.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.yskrq.common.ui.TableWindowActivity"
            android:theme="@style/WindowActivity" />
        <activity
            android:name=".ui.ModifyProjectWindowActivity"
            android:theme="@style/WindowActivity" />
        <activity
            android:name=".ui.SelectTechWindowActivity"
            android:theme="@style/WindowActivity" />
        <activity
            android:name=".ui.SelectRoomWindowActivity"
            android:theme="@style/WindowActivity" />
        <activity
            android:name=".ui.ModifyInOrderWindowActivity"
            android:theme="@style/WindowActivity" />
        <activity
            android:name=".ui.SelectNumWindowActivity"
            android:theme="@style/WindowActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ui.StatisticsActivity" />
        <activity android:name=".ui.CarErProjectActivity"
            android:launchMode="singleTop"
            />

        <activity android:name=".ui.PersonalAchievementActivity" />
        <activity android:name=".ui.MyOrderActivity" />
        <activity android:name=".ui.CarErOrderListActivity" />
        <activity android:name=".ui.AddProjectActivity" />
        <activity android:name=".ui.RoomProjectActivity" />
        <activity android:name=".ui.PersonActivity" />
        <activity android:name=".ui.ModifyPassActivity" />
        <activity android:name=".ui.AboutActivity" />
        <activity android:name=".ui.PhotoActivity" />
        <activity android:name=".ui.OrderDetailActivity" />
        <activity android:name=".ui.OrderListActivity" />
        <activity android:name=".ui.RoomListActivity" />


        <activity
            android:name="com.yskrq.yjs.keep.OnePixelActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/OnePixelActivity" />

        <service android:name="com.yskrq.yjs.keep.KeepAliveService" />
        <service android:name="com.yskrq.yjs.keep.HideNotificationService" />

        <receiver android:name="com.yskrq.common.UpdateBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.yskrq.yjs.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity
            android:name=".ui.AddProjectWindowActivity"
            android:theme="@style/WindowActivity" />
        <!--        <receiver android:name="com.fanjun.keeplive.receiver.NotificationClickReceiver" />-->
        <!--        <activity-->
        <!--            android:name="com.fanjun.keeplive.activity.OnePixelActivity"-->
        <!--            android:excludeFromRecents="true"-->
        <!--            android:launchMode="singleInstance"-->
        <!--            android:theme="@style/onePixelActivity" />-->

        <!--        <service android:name="com.fanjun.keeplive.service.LocalService" />-->
        <!--        <service android:name="com.fanjun.keeplive.service.HideForegroundService" />-->
        <!--        <service-->
        <!--            android:name="com.fanjun.keeplive.service.JobHandlerService"-->
        <!--            android:permission="android.permission.BIND_JOB_SERVICE" />-->
        <!--        <service-->
        <!--            android:name="com.fanjun.keeplive.service.RemoteService"-->
        <!--            android:process=":remote" />-->
    </application>

</manifest>